# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.pyrxlymsoidmjxjenesb:zGMfg4BBYZ37I01i@aws-0-sa-east-1.pooler.supabase.com:5432/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.pyrxlymsoidmjxjenesb:zGMfg4BBYZ37I01i@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

SUPABASE_URL=https://pyrxlymsoidmjxjenesb.supabase.co

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5cnhseW1zb2lkbWp4amVuZXNiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzgxNjQxNSwiZXhwIjoyMDY5MzkyNDE1fQ.CRi1Nampr3wtxoQYrySuGwO-ElElSRd9bnKDBDACIoE

# JWT secret for authentication
JWT_SECRET="1234567890"

NEXT_PUBLIC_SUPABASE_API_URL=https://pyrxlymsoidmjxjenesb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5cnhseW1zb2lkbWp4amVuZXNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM4MTY0MTUsImV4cCI6MjA2OTM5MjQxNX0.KaD0ueEVxX5T4PuRx_oCmdF6jGot0ON-G2O-9xRZros