NEXT_PUBLIC_SUPABASE_API_URL=https://pyrxlymsoidmjxjenesb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5cnhseW1zb2lkbWp4amVuZXNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM4MTY0MTUsImV4cCI6MjA2OTM5MjQxNX0.KaD0ueEVxX5T4PuRx_oCmdF6jGot0ON-G2O-9xRZros